.noticias-more{
    position: absolute;
    top:0px;
    right:-10px;
}ion-card{
    border-radius: 10px;
    border-top:     0.1cm #ffffff solid;
    border-bottom:  0.1cm #ffffff solid;
    border-left:    0.1cm #ffffff solid;
    border-right:   0.1cm #ffffff solid;
    text-align: center;
}